@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-aws-diatype-rounded);
  --font-mono: var(--font-aws-diatype); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050012;
    --foreground: #f9fafb;
  }
}

body {  
  color: var(--foreground);
  font-family: var(--font-aws-diatype), sans-serif;
}

.font-aws-diatype {
  font-family: var(--font-aws-diatype), sans-serif;
}

.font-aws-diatype-rounded {
  font-family: var(--font-aws-diatype-rounded), sans-serif;
}